body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 30px;
    background: #1e293b;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    color: #94a3b8;
}

.chat-box {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
}

#chat {
    height: 250px;
    overflow-y: auto;
    background: #0f172a;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

input {
    width: 70%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
  }
